<div ng-include="'views/bootstrap-navbar.html'"></div>

<div class="table-container">
	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" width="100%">
		<thead>
		    <tr>
		        <th>User Name</th>
		        <th>E-mail</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="user in users" ng-click="clickUser(user);">
		    	<td>{{user.firstName}} {{user.lastName}}</td>
		    	<td>{{user.email}}</td>
		    </tr>
	    </tbody>
	</table>

	<div>
		<label>You have selected: {{ selectedUserName }}</label>
	</div>

	<div class="pull-right">
		<button type="button" class="btn btn-success" value="Join" id="rejectUser" ng-click="rejectUser()">
		<span class="fa fa-check fa-fw"></span>&nbsp;Accept
		</button>
		<button type="button" class="btn btn-success" value="Members" id="acceptUser" ng-click="acceptUser()">
			<span class="fa fa-remove fa-fw"></span>&nbsp;Reject
		</button>

	</div>


</div>