<div ng-include="'views/bootstrap-navbar.html'"></div>

<div class="table-container">
	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" width="100%">
		<thead>
		    <tr>
		        <th>Name</th>
		        <th>Description</th>
		        <th>Measure</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="material in materials">
		    	<td>{{material.name}}</td>
		    	<td>{{material.description}}</td>
		    	<td>{{material.measure}}</td>
		    </tr>
	    </tbody>
	</table>
</div>