<div ng-include="'views/bootstrap-navbar.html'"></div>


<form class="form-horizontal" name="editProfileForm" role="form">
	<div class="container">
	<div class=" form-ses-lg">
		<div id="messages" class="alert alert-success" data-ng-show="successMessages" data-ng-bind="successMessages"></div>
		<div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<label for="contestName" class="control-label">Contest Name</label>
					<input type="text" class="form-control" ng-model="contestName" id="contestName" placeholder="Enter a name"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<label for="prize" class="control-label">Prize</label>
					<input type="text" class="form-control" ng-model="prize" id="prize" placeholder="Enter a prize"/>				
				</div>
			</div>
			
			<br><br>
			
			<label for="selectedMainGroup">Groups to create contest for:</label>
		    <select class="form-control" ng-model="selectedMainGroup" name="selectedMainGroup" id="selectedMainGroup"
				ng-change="updateListContestGroups(selectedMainGroup)"
				ng-options="selectedMainGroup.groupName for selectedMainGroup in contestGroups">
			</select>		
			<br>
			<div class="row">
			  <div class="col-md-6 col-lg-6">
			     <label for="selectedAvailableGroup">Available Groups</label>
			     <select class="form-control" ng-model="selectedAvailableGroup" name="selectedAvailableGroup" id="selectedAvailableGroup"
				    ng-options="selectedAvailableGroup.groupName for selectedAvailableGroup in availableGroups"
				    multiple
				    ng-model="availableGroups"
				 ></select>
				 <button type="button"  class="btn btn-success btn-xs" ng-click="addToOtherGroups(selectedAvailableGroup, selectedContestGroups, availableGroups)">
				  	 <span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;</span>
				 </button>
				 <button type="button"  class="btn btn-success btn-xs" ng-click="addAllToOtherGroups(availableGroups, selectedContestGroups)">
				  	 <span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;&nbsp;</span>
				 </button>
			  </div>
			  <div class="col-md-6 col-lg-6">
			   	 <label for="selectedGroups">Selected Groups</label>
			     <select class="form-control" ng-model="selectedGroups" name="selectedGroups" id="selectedGroups"
				    ng-options="selectedGroups.groupName for selectedGroups in selectedContestGroups"
				    multiple
				    ng-model="selectedGroups"
				 ></select>
				 <button type="button"  class="btn btn-danger btn-xs" ng-click="addAllToOtherGroups(selectedContestGroups, availableGroups)">
				  	 <span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;&nbsp;</span>
				 </button>
			   	 <button type="button"  class="btn btn-danger btn-xs" ng-click="addToOtherGroups(selectedGroups, availableGroups, selectedContestGroups)">
				  	 <span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;</span>
				 </button>
			  </div>
			</div>
			
			<br><br>
			
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<label for="contestType">Contest Type</label>
					<select class="form-control" ng-model="contestType" name="contestType" id="contestType"
					ng-options="contestType.contestTypeName for contestType in contestTypes">
					</select>
				</div>
				<div class="col-md-3 col-lg-3">
					<label for="threshold" class="control-label">Threshold</label>
					<input type="number" class="form-control" min="1" ng-model="threshold" name="threshold" id="threshold" placeholder="Threshold"/>
				</div>
				<div class="col-md-3 col-lg-3">
					<label for="ends">Threshold reached</label>
					<select class="form-control" ng-model="ends" name="ends" id="ends"
					ng-options="ends.contestEndsName for ends in contestEnds">
					</select>
				</div>
			</div>
			<br>
			<div class="row">
			    <div class="col-md-6 col-lg-6">
					<label for="material">Material Type</label>
					<select class="form-control" ng-model="material" name="material" id="material"
					ng-options="material.name for material in materials">
					</select>

				</div>
				<div class="col-md-6 col-lg-6">
					<label for="boundaryType">Boundary Type</label>
					<select class="form-control" ng-model="boundaryType" name="boundaryType" id="boundaryType"
					ng-options="boundary.boundaryName for boundary in boundaries">
					</select>
				</div>
			</div>		
			<br>		   
			<div class="row">
		        <div class="col-md-4 col-lg-4">
		            <label class="control-label">From</label>
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateFrom" is-open="openedFrom" min-date="minDateFrom" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="fa fa-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		        <div class="col-md-4 col-lg-4">
		            <label class="control-label">To</label>
		            <p class="input-group">
		              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateTo" is-open="openedTo" min-date="minDateTo" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
		              <span class="input-group-btn">
		                <label></label>
		                <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="fa fa-calendar"></i></button>
		              </span>
		            </p>
		        </div>
			</div>
			<br>
		</div>
		<div class="form-group">
	         <button type="button"  class="btn btn-success" value="create" title="create" ng-click="createContest()" ng-disabled=""><span>Create Contest</span></button>
	     </div>
	</div>
	

	</div>
	
	
</form>

