<div ng-include="'views/bootstrap-navbar.html'"></div>

<div class="table-container">
	<div>
		<label>The following duplicates were found:</label>
	</div>
	
	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" width="100%">
		<thead>
		    <tr>
		        <th>Name</th>
		        <th>Description</th>
		        <th>Barcode</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="item in items">
		    	<td>{{item.name}}</td>
		    	<td>{{item.description}}</td>
		    	<td>{{item.barcode}}</td>
		    </tr>
	    </tbody>
	</table>
	
	<div class="form-group">
		<button type="button"  class="btn btn-success" value="notDuplicate" name="notDuplicate" ng-click="notDuplicate()">
			<span class="fa fa-external-link"></span>&nbsp;Not A Duplicate
		</button>
	</div>
</div>


