<div ng-include="'views/bootstrap-navbar.html'"></div>

<form class="form-horizontal" name="newItemForm" role="form">
	<div class="container">
	<div class="form-ses-lg">
	
		<div class="form-group" ng-class="{ 'has-error' : newItemForm.newNameInputField.$invalid && !newItemForm.newNameInputField.$pristine }">	
			<ng-form name="newNameInputFieldForm">
				<label for="newNameInputField" class="control-label">Item name</label>
				<input type="text" class="form-control" ng-model="name" id="newNameInputField" placeholder="Name" required />
				<p class="help-block" ng-show="newNameInputFieldForm.newNameInputField.$invalid && newNameInputFieldForm.newNameInputField.$pristine ">Material Name is required</p>
			 </ng-form>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : newItemForm.newDescriptionInputField.$invalid && !newItemForm.newDescriptionInputField.$pristine }">
			<ng-form name="newDescriptionInputFieldForm">
				<label for="newDescriptionInputField" class="control-label">Description</label>
					<input type="text" class="form-control" ng-model="description" id="newDescriptionInputField" placeholder="Description" required />
					<p class="help-block" ng-show="newDescriptionInputFieldForm.newDescriptionInputField.$invalid && newDescriptionInputFieldForm.newDescriptionInputField.$pristine ">Description is required</p>
			 </ng-form>
		</div>
		<div class="form-group" >
			<label for="newBarcodeInputField" class="control-label">Barcode</label>
			<input type="text" class="form-control" ng-model="barcode" id="newBarcodeInputField" placeholder="barcode" />
		</div>
		<div class="form-group">
	         <button type="button"  class="btn btn-success" value="Save" title="Save" ng-click="next()">
	           <span class="fa fa-external-link"></span>&nbsp;Next
	         </button>
	     </div>
	    
     </div>
     </div>
</form>

 	
