<div ng-include="'views/bootstrap-navbar.html'"></div>

<form class="form-horizontal" name="newItemForm" role="form">
	
	<div class="container">
	<div class="form-ses-lg">

		<div id="messages" class="alert alert-success" data-ng-show="successMessages" data-ng-bind="successMessages"></div>
		<div id="messages" class="alert alert-error" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>

		<div class="form-group" ng-class="{ 'has-error' : newMaterialForm.newNameInputField.$invalid && !newMaterialForm.newNameInputField.$pristine }">	
			<ng-form name="newNameInputFieldForm">
				<label for="newNameInputField" class="control-label">Material name</label>
				<input type="text" class="form-control" ng-model="name" id="newNameInputField" placeholder="Name" required />
				<p class="help-block" ng-show="newMaterialForm.newNameInputField.$invalid && newMaterialForm.newNameInputField.$pristine ">Material Name is required</p>
			 </ng-form>
		</div>
		<div class="form-group" >
			<label for="newDescriptionInputField" class="control-label">Description</label>
			<input type="text" class="form-control" ng-model="description" id="newDescriptionInputField" placeholder="Description"/>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : newMaterialForm.newMeasureInputField.$invalid && !newMaterialForm.newMeasureInputField.$pristine }">
			<ng-form name="newMeasureInputFieldForm">
				<label for="newMaterialInputField" class="control-label">Material Measure</label>
				<input type="text" class="form-control" ng-model="measure" id="newMeasureInputField" placeholder="Measure" required />
				<p class="help-block" ng-show="newMaterialForm.newMeasureInputField.$invalid && newMaterialForm.newMeasureInputField.$pristine ">Measure is required</p>
			 </ng-form>
		</div>
		<div class="form-group">
         <button type="button"  class="btn btn-success pull-right" value="create" name="create" ng-click="submitNewMaterial(name, description, measure)">Create Material</button>
     	</div>
     	<div>
     		<label>{{ createMaterialResult }}</label>
     	</div>
	
	</div>
	</div>

</form>

 	
