<div ng-include="'views/bootstrap-navbar.html'"></div>

<div class="table-container">

	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" width="100%">
		<thead>
		    <tr>
		        <th>Group Name</th>
		        <th>E-mail</th>
		        <th>Owner Name</th>
		        <th>Owner Email</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="group in groups" ng-click="clickGroup(group);">
		    	<td>{{group.groupName}}</td>
		    	<td>{{group.email}}</td>
		    	<td>{{group.firstName}} {{group.lastName}}</td>
		    	<td>{{group.ownerEmail}}</td>
		    </tr>
	    </tbody>
	</table>
	
	<br>
	
	<div>
		<label>You have selected: {{ selectedGroupName }}</label>
	</div>

	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" width="100%">
		<thead>
		    <tr>
		        <th>Name</th>
		        <th>Description</th>
		        <th>Barcode</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="item in items" ng-click="clickItem(item);">
		    	<td>{{item.name}}</td>
		    	<td>{{item.description}}</td>
		    	<td>{{item.barcode}}</td>
		    </tr>
	    </tbody>
	</table>

	<br>

	<div>
		<label>You have selected: {{ selectedItemName }}</label>
	</div>
				
	<div>   
	  <input type="number" class="form-control" min="1" ng-model="quantity" name="quantityInputField" id="quantityInputField" placeholder="Quantity" required />
	</div>
	<br>
	<div>
		<button type="button" class="btn btn-success" value="submitNewRecyclingAction" name="submitNewRecyclingActionButton" ng-click="submitNewRecyclingAction()">
			<span class="fa fa-save fa-fw"></span>&nbsp;Create Recycling Action
		</button>
	</div>
</div>

