
/* Stylesheet content from css/style.css in folder common */
/* CUSTOMIZE BACKGROUND
-------------------------------------------------- */
body {
background: url('../images/backgroundedited.jpg') fixed;
background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: "Futura",Trebuchet MS,Arial,sans-serif;
height:100%;
position: relative;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}


/* CUSTOMIZE EDIT FORMS
-------------------------------------------------- */
.form-ses {
  max-width:400px;
  padding: 20px 50px 20px 50px;
  background: rgb(240,247,230); /* for IE */
  background: rgba(240,247,230,0.50);
  /*border-radius: 15px;*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}


.form-ses-lg {
  max-width:700px;
  padding: 20px 50px 20px 50px;
  background: rgb(240,247,230); /* for IE */
  background: rgba(240,247,230,0.50);
  /*border-radius: 15px;*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}




.container .form-ses-lg {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.table-container{
  margin: 90px;
}


/* CUSTOMIZE FONTS
-------------------------------------------------- */

h1 {
  font-style: oblique;
  font-size:50px;
  margin-bottom: 50px;
  color:#fff;
}

h2 {
  font-style: oblique;
  font-size:40px;
  color:#461167;
  margin-bottom: 60px;
}

h3 {
  font-size:30px;
  color:#461167;
}

.lead {
	color:#461167;
	font-style: italic;
}

.p1{
  font-size:18px;
  color:#fff;
  margin-bottom: 40px;
}
.p2{
  font-size:16px;
  color:#000;
  margin-bottom: 25px;
}


/* CUSTOMIZE CONTAINERS
-------------------------------------------------- */
.container-full {
  margin-bottom: 20px;
  width: 100%;
  min-height:100%;
  overflow:hidden;
  position: relative;
  
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
 
 
/* CUSTOMIZE ACCOUNT FORMS
-------------------------------------------------- */
.form-signin{max-width:330px;margin:0 auto;padding:10px;}
.form-signin .form-signin-heading,.form-signin {margin-bottom:10px;}
.form-signin .form-control{position:relative;font-size:12px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.form-signin .form-control:focus{z-index:2;}
.form-signin input[type="text"]{margin-bottom:0px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.form-signin input[type="password"]{margin-bottom:0px;border-top-left-radius:0;border-top-right-radius:0;}
.account-wall{margin-top:20px;background-color:rgb(240,247,230);background-color: rgba(240,247,230,0.50);;-moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);box-shadow:0 2px 2px rgba(0,0,0,0.3);padding:20px 0 20px;}
.login-title{color:#555;font-size:18px;font-weight:400;display:block;}

/* CUSTOMIZE DASHBOARD
-------------------------------------------------- */

canvas{	
  width: 100% !important;
  max-width: 600px;
  height: auto !important;
  padding-bottom: 20px;
  position:relative;
  display: inline;
}

.canvas-container {
    min-height: 200px;
    max-height: 600px;
    position: relative;
    padding-left: 10px;
    margin: 0 auto;
}

i {
	font-style: normal;
    margin-right: 5px;
}

.widget {
    position: relative;    
    background: rgb(240,247,230); /* for IE */
    background: rgba(240,247,230,0.50); 
    padding-top: 0px;
    margin-top: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-full {
  margin-top: 90px;
}

.widget .widget-title {
    width: 100%;
    font-size:15px;
    text-align: left;
    vertical-align: text-top;
    color: #926ea6;
    line-height: 2em;
    background: #f0e9fe;
    display: inline-block;
    padding: 10px 15px;
    font-style: normal;
}

.widget .widget-title .fa{
	margin-top: 6px;
	font-size:15px;
    color:#926ea6;
    padding-right: 5px;
}

.widget .widget-body {
  padding: 20px;
}

.widget .widget-icon {
  background: #926ea6;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.widget-icon:hover{
  background-color: #d8b5ec;
}
.widget .widget-icon i{
  line-height: 55px;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  margin-left: 7px;
}

.widget .widget-content {
  font-size: 16px;
  display: inline-block;
  margin: 15px 15px 15px 15px;
  display: inline-block
}



