<div ng-include="'views/bootstrap-navbar.html'"></div>

<div class="table-container">
	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table hover order-column row-border" width="100%">
		<thead>
		    <tr>
		        <th>Name</th>
		        <th>Description</th>
		        <th>Barcode</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="item in items">
		    	<td>{{item.name}}</td>
		    	<td>{{item.description}}</td>
		    	<td>{{item.barcode}}</td>
		    </tr>
	    </tbody>
	</table>
</div>