<div ng-include="'views/bootstrap-navbar.html'"></div>

<div class="table-container">

	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table hover order-column row-border" width="100%">
		<thead>
		    <tr>
		        <th>Group Name</th>
		        <th>E-mail</th>
		        <th>Address</th>
		        <th>Apt/Suite</th>
		        <th>City</th>
		        <th>State</th>
		        <th>Zip Code</th>
		        <th>Country</th>
		        <th>Owner Name</th>
		        <th>Owner Email</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="group in groups" ng-click="clickGroup(group);">
		    	<td>{{group.groupName}}</td>
		    	<td>{{group.email}}</td>
		    	<td>{{group.address1}}</td>
		    	<td>{{group.address2}}</td>
		    	<td>{{group.city}}</td>
		    	<td>{{group.state_name}}</td>
		    	<td>{{group.zipCode}}</td>
		    	<td>{{group.countries_name}}</td>
		    	<td>{{group.ownerFirstName}} {{group.ownerLastName}}</td>
		    	<td>{{group.ownerEmail}}</td>
		    </tr>
	    </tbody>
	</table>
	<div>
		<label>You have selected: {{ selectedGroupName }}</label>
	</div>
	
	<div class="pull-right">
	<div id="messages" class="alert alert-success" data-ng-show="successMessages" data-ng-bind="successMessages"></div>
		<div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
		<button type="button" class="btn btn-success" value="Members" id="requestGroupUsersButton" ng-click="requestGroupUsers()">
			<span class="fa fa-users fa-fw"></span>&nbsp;Members
		</button>
	</div>
</div>
