<div ng-include="'views/bootstrap-navbar.html'"></div>

<div class="table-container">
	<div id="messages" class="alert alert-success" data-ng-show="successMessages" data-ng-bind="successMessages"></div>
	<div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>

	<label class="control-label">Name: {{ name }}</label>
	
	<label class="control-label">Description: {{ description }}</label>
	
	<label class="control-label">Please put in the savings below:</label>
	
	<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table hover order-column row-border" width="100%">
		<thead>
		    <tr>
		        <th>Material</th>
		        <th>Description</th>
		        <th>Measure</th>
		        <th>Quantity</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="material in materials">
		    	<td>{{material.name}}</td>
		    	<td>{{material.description}}</td>
		    	<td>{{material.measure}}</td>
				<td><input type="number" class="form-control" min="0" ng-model="material.quantity" id="quantityInputField" placeholder="Quantity" required /></td>
		    </tr>
	    </tbody>
	</table>
	
	<button type="button"  class="btn btn-success pull-right" value="submitNewItem" name="submitNewItem" ng-click="submitNewItem()">
		<span class="fa fa-save fa-fw"></span>&nbsp;Create Item
	</button>
</div>

 	