<form class="form-horizontal" name="newUserForm" role="form">
	<div class="form-ses" >
	  <div id="messages" class="alert alert-success" data-ng-show="successMessages" data-ng-bind="successMessages"></div>
	  <div id="messages" class="alert alert-danger" data-ng-show="errorMessages" data-ng-bind="errorMessages"></div>
	  <h3 class="text-center login-title">Create  Account</h3>
		<div class="form-group" data-ng-class="{ 'has-error' : newUserNameForm.newUserName.$invalid && !newUserNameForm.newUserName.$pristine }">	
			<data-ng-form name="newUserNameForm">
				<label for="newUserName" class="control-label">Username</label>
					<input type="text" class="form-control" data-ng-model="newUser.userName" name="newUserName" id="newUserName" placeholder="User Name" required />
					<p class="help-block" data-ng-show="newUserNameForm.newUserName.$invalid && !newUserNameForm.newUserName.$pristine ">User Name is required</p>
			 </data-ng-form>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : newFirstNameForm.newFirstName.$invalid && !newFirstNameForm.newFirstName.$pristine }">
			<data-ng-form name="newFirstNameForm">
				<label for="newFirstName" class="control-label">First Name</label>
					<input type="text" class="form-control" data-ng-model="newUser.firstName" name="newFirstName" id="newFirstName" placeholder="First Name" required />
					<p class="help-block" data-ng-show="newFirstNameForm.newFirstName.$invalid && !newFirstNameForm.newFirstName.$pristine ">First Name is required</p>
			 </data-ng-form>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : newLastNameForm.newLastName.$invalid && !newLastNameForm.newLastName.$pristine }">
			<data-ng-form name="newLastNameForm">
				<label for="newLastName" class="control-label">Last Name</label>
					<input type="text" class="form-control" data-ng-model="newUser.lastName" name="newLastName" id="newLastName" placeholder="Last Name" required />
					<p class="help-block" data-ng-show="newLastNameForm.newLastName.$invalid && !newLastNameForm.newLastName.$pristine ">Last Name is required</p>
			 </data-ng-form>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : newEmailForm.newEmail.$invalid && !newEmailForm.newEmail.$pristine }">
			 <data-ng-form name="newEmailForm">
				<label for="newEmail" class="control-label">Email Address</label>
					<input type="text" class="form-control" data-ng-model="newUser.email" name="newEmail" id="newEmail" placeholder="E-mail" required />
					<p class="help-block" data-ng-show="newEmailForm.newEmail.$invalid && !newEmailForm.newEmail.$pristine ">Email Address is required</p>
			 </data-ng-form>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error' : newPasswordForm.newPassword.$invalid && !newPasswordForm.newPassword.$pristine }">
			 <data-ng-form name="newPasswordForm">
				<label for="newPassword" class="control-label">Password</label>
					<input type="password" class="form-control" data-ng-model="newUser.password" name="newPassword" id="newPassword" placeholder="Password" required />
					<p class="help-block" data-ng-show="newPasswordForm.newPassword.$invalid && !newPasswordForm.newPassword.$pristine ">Password is required</p>
			 </data-ng-form>
		</div>
		<div class="form-group">
         <button type="button"  class="btn btn-success" value="create" data-ng-click="submitNewUser(newUser.firstName, newUser.lastName, newUser.userName, newUser.password, newUser.email)" data-ng-disabled="!newUserForm.$valid">
         <span>Create Account</span>
         </button>
     	</div>
	</div>

</form>